<div class="explore-container">
  <app-navbar class="navbar"></app-navbar>

  <div class="explore-main">
    <div class="search">
      <!-- Search bar -->
      <div class="search-bar">
        <input type="text" placeholder="Search users..." (keyup.enter)="onSearch()" (input)="onSearch()" [(ngModel)]="searchQuery" />
        <button class="search-icon" (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <!-- Search Results -->
      <div class="search-results">
        <ul>
          @if ((searchResults$ | async); as searchResults) {
            @for (user of searchResults; track user._id) {
              <li 
                class="search-result-item"
                (click)="onViewProfile(user._id!)"> <!-- Bind click to navigation -->
                <img [src]="user.profilePic" 
                     onerror="this.src = '../../../assets/default-profile-pic.jpeg'" 
                     alt="User Picture" />
                <div class="user-info">
                  <p><strong>{{ user.name }}</strong></p>
                  <p>{{ user.email }}</p>
                </div>
                <ng-container [ngSwitch]="checkFriendStatus(user)">
                  <button *ngSwitchCase="'friends'" class="remove-friend" (click)="onRemoveFriend(user); $event.stopPropagation()">Remove</button>
                  <button *ngSwitchCase="'pending'" class="pending" (click)="onRemoveFriendRequest(user); $event.stopPropagation()">Pending</button>
                  <ng-container *ngSwitchCase="'accept'">
                    <button class="add-friend" (click)="onAcceptFriend(user); $event.stopPropagation()">Accept</button>
                    <button class="reject" (click)="onDeclineFriend(user); $event.stopPropagation()">Reject</button>
                  </ng-container>
                  <button *ngSwitchDefault class="add-friend" (click)="onAddFriend(user); $event.stopPropagation()">Request</button>
                </ng-container>
              </li>
            }
          }
        </ul>
        
      </div>
    </div>

    <!-- Suggested Section -->
    <div class="suggested">
      <h3>Suggested for you</h3>
      <app-suggested></app-suggested>
    </div>
  </div>
</div>
