<div class="reset-container" [ngClass]="{'loading-cursor' : loading}">
    <div class="avatar-icon">
      <img src="../../../assets/techsocial.jpeg" alt="Avatar Icon" />
    </div>
  
    <div id="reset-part">
      <h2 class="title">Reset Your Password</h2>
      <p class="subtitle">Enter your new password below to regain access to your account.</p>
  
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetSubmit()">
        <!-- New Password Field -->

        <div class="password-hint">
            <mat-icon id="hint-icon">help_outline</mat-icon>
            <span class="password-requirements-title">Password Requirements:</span>
            <p class="password-requirements-detail">
                At least 8 characters, one uppercase letter, one lowercase letter, one digit, and one special character.
            </p>
        </div>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>New Password</mat-label>
          <input matInput 
                 [type]="newPasswordFieldType" 
                 formControlName="newPassword" 
                 placeholder="Enter your new password" />
          
          <mat-error>
            <ng-container *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
              This field is required.
            </ng-container>
            <ng-container *ngIf="resetPasswordForm.get('newPassword')?.hasError('pattern')">
              Password must meet the requirements.
            </ng-container>
          </mat-error>
        </mat-form-field>
  
        <!-- Confirm Password Field -->
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Confirm Password</mat-label>
          <input matInput 
                 [type]="confirmPasswordFieldType" 
                 formControlName="confirmPassword" 
                 placeholder="Confirm your new password" />
          <mat-error>
            <ng-container *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
              Confirming your password is required.
            </ng-container>
            <ng-container *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('passwordMismatch')">
              Passwords do not match.
            </ng-container>
            
          </mat-error>
        </mat-form-field>
  
        <!-- Submit Button -->
        <div class="form-buttons">
          <button mat-raised-button type="submit" [disabled]="resetPasswordForm.invalid" class="btn reset">Reset Password</button>
        </div>
      </form>
  
      <!-- Back to Login Link -->
      <a routerLink="/login" class="forgot-password">Back to Login</a>
    </div>
  </div>
  