<div class="main">
<div class="chat-container">
    <!-- Chat List Column -->
    <div class="chat-list">
      <h2>Chats</h2>
        @if (chats$ | async ; as chats){
            @if (chats.length > 0) {
                <ul>
                <li *ngFor="let chat of chats" (click)="selectChat(chat)">
                    <div class="chat-item">
                      <div class="profile-container">
                        <img [src]="getChatFriendName(chat)" alt="User Image" onerror="this.src='../../../assets/default-pp.jpeg'" class="profile-pic" />
                        @if (isUserOnline(chat.participants[1]._id!)) {

                        <div class="status-indicator"></div>
                        }
                      </div>


                      <span class="friend-name">{{ getChatFriendName(chat) }}</span>
                    </div>
                  </li>
                </ul>

            }
            @else {
                <p>No chats found</p>
            }
        }
      </div>

    <!-- Chat Window Column -->
    <div class="chat-window">
      @if (selectedChat) {
        <h3>Chat with {{ getChatFriendName(selectedChat) }}</h3>
        @if (messages$ | async ; as messages) {
          @if (messages.length === 0) {
            <p>No messages found</p>
          }
          @else {
            <div class="message-list"  #chatWindow (scroll)="onScroll()">
              <div *ngFor="let message of messages" class="message" [ngClass]="{'MyMessages' : user._id === message.sender._id, 'OtherMessages': user._id !== message.sender._id}">


                  <p class="message-text">{{ message.content }}</p>


                <span class="message-timestamp">{{formatTime(message.timestamp)}}</span>
                <span class="message-status">
                @if (message.receiver._id !== user._id) {
                  @if (message.status === 'sent') {
                    <mat-icon>done</mat-icon>
                  }
                  @else if (message.status === 'delivered') {
                    <mat-icon>done_all</mat-icon>
                  }
                  @else {
                    <mat-icon class="read">done_all</mat-icon>
                  }
                }
                </span>
              </div>

            </div>
@if (showScrollToBottom) {
                <div class="scroll-to-bottom" >


                      <button mat-icon-button>
                        <mat-icon (click)="scrollToBottom(true)">arrow_downward</mat-icon>
                      </button>

                </div>
                }
          }

        }
        <div class="message-input">
          <input type="text" [(ngModel)]="message" placeholder="Type a message..." (keydown.enter)="sendMessage()" />
          <button mat-icon-button (click)="sendMessage()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      }
      @else {
        <div>
          <h2>No selected Chats available</h2>
        </div>
      }

    </div>
</div>
<app-navbar class="custom-x"></app-navbar>

</div>
