  <div class="chat-container">
    <!-- Chat List Column -->
    <div class="chat-list">
      <h2>Chats</h2>
      @if (chats$ | async ; as chats) {
        @if (chats.length > 0) {
          <ul>
            <li *ngFor="let chat of chats" (click)="selectChat(chat)">
              <div class="chat-item">
                <div class="profile-container">
                  <img [src]="getChatFriendProfilePicture(chat)" alt="User Image" onerror="this.src='../../../assets/default-pp.jpeg'" class="profile-pic" />
                  @if (isUserOnline((chat.participants)[0]._id!)) {
                    <div class="status-indicator"></div>
                  }
                </div>
                <span class="friend-name">{{ getChatFriendName(chat) }}</span>
                <!-- <img [src]="getChatFriendName(chat)" alt="User Image" onerror="this.src='../../../assets/default-pp.jpeg'" class="profile-pic" />
                @if (isUserOnline(chat.participants[1]._id!)) {
                  <div class="status-indicator"></div>
                }
                <span class="friend-name">{{ getChatFriendName(chat) }}</span> -->
              </div>
            </li>
          </ul>
        } @else {
          <p>No chats found</p>
        }
      }
    </div>

    <!-- Chat Window Column -->
    <app-chat [selectedChat]="selectedChat"></app-chat>
  </div>

   
  <app-navbar class="custom-x"></app-navbar>
