<div class="container">
  <div class="notification-bell">
    <div class="newNotifications">
      @if (numOfUnreadNotifications() > 0) {
      <span class="new-num"> {{numOfUnreadNotifications()}}</span>
      }</div>
    <mat-icon [matMenuTriggerFor]="notificationMenu" class="bell-icon">notifications</mat-icon>

    <mat-menu #notificationMenu="matMenu" class="menu">
      @if ((notifications$ | async) ; as notifications) {
      <div *ngIf="notifications.length > 0; else noNotifications">
        <button mat-menu-item *ngFor="let notification of notifications" (click)="markAsRead(notification)">
          <mat-icon>notification_important</mat-icon>
          <span>{{ notification.notificationMessage }}</span>

        </button>
      </div>
      <ng-template #noNotifications>
        <p class="no-notifications">No new notifications</p>
      </ng-template>
      }
      <div></div>
    </mat-menu>
  </div>


  <div class="posts">
    @if ((posts$ | async); as posts) {
    @for (post of posts; track post) {
    <app-post [post]="post" class="post-item"></app-post>
    }
    }
  </div>
</div>
