.message-input {
    display: flex;
    position: fixed;
    bottom: 0; /* Stick to the bottom */
  }
  
  .message-input input {
    flex-grow: 1;
    padding: 8px;
  }
  
  .message-input button {
    padding: 8px;
  }

  .MyMessages {
    background-color: #1B3B5F; /* Dark techy blue */
    color: #E0E6ED; /* Soft off-white for contrast */
    align-self: flex-end;
    border: 1px solid #2978B5; /* Subtle neon blue border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(41, 120, 181, 0.5); /* Subtle blue glow */
}



  .OtherMessages {
    background-color: #f5f5f5;
    color: black;
    align-self: flex-start;
  }
  .chat-window {
    /* width: 500px; */
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
  }

.message-timestamp {
    font-size: 0.8rem;
    color: #999;
    margin-bottom: 5px;
    align-self: flex-end;
}
.message-status {
    font-size: 0.8rem;
    color: #999;
    margin-bottom: 5px;
    align-self: flex-end;
}
.read {
    color: #34B7F1
  }
  .chat-window h2 {
    margin: 0;
}
.message-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
  }
  .message {
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    width: 30%;
    flex-direction: column;
    height: fit-content;
    

  }

  .message-text{
    word-wrap: break-word;  /* Ensures text breaks into new line when reaching the edge */
      overflow-wrap: break-word;  /* Alternative for word wrapping */
      white-space: normal; 
  }

  .scroll-to-bottom {
    position: absolute;
    bottom: 50%;
    right: 50%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .scroll-to-bottom mat-icon {
    font-size: 24px;
  }

