<div class="suggested-container">
  <div>
    <ul class="suggested-list">
      <!-- <li *ngFor="let friend of suggestedFriends" class="suggested-item"> -->
      <li class="suggested-item">

        <img src='assets/default-profile-pic.jpeg' alt="Suggested Friend Picture" />
        <div class="suggested-info">
          <p><strong>friendname</strong></p>
          <p>friendemail</p>
        </div>
        <button class="add-btn">Add Friend</button>
      </li>
      <li  class="suggested-item">

        <img src='assets/default-profile-pic.jpeg' alt="Suggested Friend Picture" />
        <div class="suggested-info">
          <p><strong>friendname</strong></p>
          <p>friendemail</p>
        </div>
        <button class="add-btn">Add Friend</button>
      </li>
      <li  class="suggested-item">

        <img src='assets/default-profile-pic.jpeg' alt="Suggested Friend Picture" />
        <div class="suggested-info">
          <p><strong>friendname</strong></p>
          <p>friendemail</p>
        </div>
        <button class="add-btn">Add Friend</button>
      </li>
      <li  class="suggested-item">

        <img src='assets/default-profile-pic.jpeg' alt="Suggested Friend Picture" />
        <div class="suggested-info">
          <p><strong>friendname</strong></p>
          <p>friendemail</p>
        </div>
        <button class="add-btn">Add Friend</button>
      </li>
      <li  class="suggested-item">

        <img src='assets/default-profile-pic.jpeg' alt="Suggested Friend Picture" />
        <div class="suggested-info">
          <p><strong>friendname</strong></p>
          <p>friendemail</p>
        </div>
        <button class="add-btn">Add Friend</button>
      </li>
      <li  class="suggested-item">

        <img src='assets/default-profile-pic.jpeg' alt="Suggested Friend Picture" />
        <div class="suggested-info">
          <p><strong>friendname</strong></p>
          <p>friendemail</p>
        </div>
        <button class="add-btn">Add Friend</button>
      </li>
      <li  class="suggested-item">

        <img src='assets/default-profile-pic.jpeg' alt="Suggested Friend Picture" />
        <div class="suggested-info">
          <p><strong>friendname</strong></p>
          <p>friendemail</p>
        </div>
        <button class="add-btn">Add Friend</button>
      </li>
      <li  class="suggested-item">

        <img src='assets/default-profile-pic.jpeg' alt="Suggested Friend Picture" />
        <div class="suggested-info">
          <p><strong>friendname</strong></p>
          <p>friendemail</p>
        </div>
        <button class="add-btn">Add Friend</button>
      </li>
      <li  class="suggested-item">

        <img src='assets/default-profile-pic.jpeg' alt="Suggested Friend Picture" />
        <div class="suggested-info">
          <p><strong>friendname</strong></p>
          <p>friendemail</p>
        </div>
        <button class="add-btn">Add Friend</button>
      </li>
    </ul>
  </div>
  <ng-template #noSuggestions>
    <p>No suggested friends at the moment.</p>
  </ng-template>
</div>
