<div class="suggested-container">
  <div>
    <ul class="suggested-list">
      @if ((suggestedFriends$ | async); as suggestedFriends) {
        @if (suggestedFriends.length > 0) {
          @for (suggestedFriend of suggestedFriends; track suggestedFriend.name) {
            <li
              class="suggested-item"
              (click)="onViewProfile(suggestedFriend._id!)"> <!-- Navigate on item click -->

              <img
                [src]="suggestedFriend.profilePic"
                alt="avatar"
                onerror="this.src = '../../../assets/default-profile-pic.jpeg'" />

              <div class="suggested-info">
                <p>{{ suggestedFriend.name }}</p>
              </div>

              <ng-container [ngSwitch]="checkFriendStatus(suggestedFriend)">
                <button
                  *ngSwitchCase="'pending'"
                  class="pending"
                  (click)="onRemoveFriendRequest(suggestedFriend); $event.stopPropagation()">Pending</button>
                <ng-container *ngSwitchCase="'accept'">
                  <button
                    class="add-btn"
                    (click)="onAcceptFriend(suggestedFriend); $event.stopPropagation()">Accept</button>
                  <button
                    class="reject"
                    (click)="onDeclineFriend(suggestedFriend); $event.stopPropagation()">Reject</button>
                </ng-container>
                <button
                  *ngSwitchCase="'add'"
                  class="add-btn"
                  (click)="onAddFriend(suggestedFriend); $event.stopPropagation()">Request</button>
              </ng-container>
            </li>
          }
        }
        @else {
          <p>No suggested friends</p>
        }
      }
      @else {
        <p>No suggested friends</p>
      }
    </ul>
  </div>
  <ng-template #noSuggestions>
    <p>No suggested friends at the moment.</p>
  </ng-template>
</div>
