/* Container for the entire login screen */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0d1117;
    position: relative;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 40px;
    background-image: url('../../../public/assets/main-page-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow: hidden;
  }


  /* Avatar icon styling */
  .avatar-icon img {
    width: 300px;
    height: 200px;
    background-color: #1b2330;
    border: 1px solid #00bcd4;
    margin-bottom: 20px;
  }

  /* Title Styling */
  /* Title Styling with 3D Effect */
.title {
  font-size: 24px;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 40px;
  font-family: 'Exo 2';
  width: 409px;
  font-size: calc(100% + 0.7em);
  text-align: center;

  /* 3D Effect: Text shadow to create depth */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 0px 0px 25px rgba(0, 188, 212, 0.5);

  /* Optional: Slightly more dynamic depth */
}

@keyframes slideIn {
  0% {
      transform: translateX(-100%); /* Start off-screen to the left */
  }
  100% {
      transform: translateX(0); /* End at the original position */
  }
}
a:link {
    text-decoration: none;
    color: #fff;
  }

#login-part {
  border-width: 3px;
  border-radius: 15px;
  box-shadow: 0 9px 15px rgba(0, 188, 212, 0.4);
  border-style: solid;
  border-color: #00bcd4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  /* Button Styling */
  .btn {
    width: 200px;
    padding: 12px;
    margin: 10px 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }

  .create-account {
    background-color: #00bcd4;
    border: none;
    box-shadow: 0 4px 15px rgba(0, 188, 212, 0.4);
  }

  .login {
    background-color: transparent;
    border: 2px solid #00bcd4;
    color: #00bcd4;
  }



  .btn:hover {
    background-color: #019bab;
    box-shadow: 0 6px 20px rgba(1, 155, 171, 0.5);
  }
