<app-navbar class="navbar"></app-navbar>
<div class="liked-container">
  <h2>Your Liked Posts</h2>
  <ul class="liked-list">
    <li >
      <h3></h3>
      <p></p>
    </li>
    <li >
      <h3></h3>
      <p></p>
    </li>
    <li >
      <h3></h3>
      <p></p>
    </li>
    <li >
      <h3></h3>
      <p></p>
    </li>
    <li >
      <h3></h3>
      <p></p>
    </li>
    <li >
      <h3></h3>
      <p></p>
    </li>
    <li >
      <h3></h3>
      <p></p>
    </li>
    <li >
      <h3></h3>
      <p></p>
    </li>
    <li >
      <h3></h3>
      <p></p>
    </li>
    <li >
      <h3></h3>
      <p></p>
    </li>
    <li >
      <h3></h3>
      <p></p>
    </li>
    <li >
      <h3></h3>
      <p></p>
    </li>
    <li >
      <h3></h3>
      <p></p>
    </li>
    <li >
      <h3></h3>
      <p></p>
    </li>
  </ul>
</div>

