<div class="mat-dialog-container">
  <h2>Friends</h2>
  <mat-dialog-content>
    <div class="friend-section">
      <ul class="friends-list">
        @if (friends$ | async ; as friends) {
        @if (friends.length > 0) {

        @for(friend of friends ; track friend){
        <li class="friend-item">
          <img [src]="friend.profilePic"  alt="Friend Picture" onerror="this.src = '../../../assets/default-profile-pic.jpeg'"  />
          <div class="friend-info">
            <p><strong>{{ friend.name }}</strong></p>
            @if (mostActiveUser() === friend) {
            <p>Most Active User</p>
            }
          </div>
          <button class="remove-btn" (click)="removeFriend(friend._id!)">Remove</button>
        </li>
        }
        } @else {
        <p>No friends to show</p>
        }
        }
        <!-- <li class="friend-item">
          <img [src]="'assets/default-profile-pic.jpeg'" alt="Friend Picture" />
          <div class="friend-info">
            <p><strong>name</strong></p>
            <p>email</p>
          </div>
          <button class="remove-btn" (click)="removeFriend(1)">Remove</button>
        </li>
        <li class="friend-item">
          <img [src]="'assets/default-profile-pic.jpeg'" alt="Friend Picture" />
          <div class="friend-info">
            <p><strong>name</strong></p>
            <p>email</p>
          </div>
          <button class="remove-btn" (click)="removeFriend(1)">Remove</button>
        </li>
        <li class="friend-item">
          <img [src]="'assets/default-profile-pic.jpeg'" alt="Friend Picture" />
          <div class="friend-info">
            <p><strong>name</strong></p>
            <p>email</p>
          </div>
          <button class="remove-btn" (click)="removeFriend(1)">Remove</button>
        </li>
        <li class="friend-item">
          <img [src]="'assets/default-profile-pic.jpeg'" alt="Friend Picture" />
          <div class="friend-info">
            <p><strong>name</strong></p>
            <p>email</p>
          </div>
          <button class="remove-btn" (click)="removeFriend(1)">Remove</button>
        </li>
        <li class="friend-item">
          <img [src]="'assets/default-profile-pic.jpeg'" alt="Friend Picture" />
          <div class="friend-info">
            <p><strong>name</strong></p>
            <p>email</p>
          </div>
          <button class="remove-btn" (click)="removeFriend(1)">Remove</button>
        </li>
        <li class="friend-item">
          <img [src]="'assets/default-profile-pic.jpeg'" alt="Friend Picture" />
          <div class="friend-info">
            <p><strong>name</strong></p>
            <p>email</p>
          </div>
          <button class="remove-btn" (click)="removeFriend(1)">Remove</button>
        </li>
        <li class="friend-item">
          <img [src]="'assets/default-profile-pic.jpeg'" alt="Friend Picture" />
          <div class="friend-info">
            <p><strong>name</strong></p>
            <p>email</p>
          </div>
          <button class="remove-btn" (click)="removeFriend(1)">Remove</button>
        </li>
        <li class="friend-item">
          <img [src]="'assets/default-profile-pic.jpeg'" alt="Friend Picture" />
          <div class="friend-info">
            <p><strong>name</strong></p>
            <p>email</p>
          </div>
          <button class="remove-btn" (click)="removeFriend(1)">Remove</button>
        </li>
      </ul>
    </div>
    
    <hr>
    <div class="suggested-section">
      
    </div> -->
    
    <h3>Suggested Friends</h3>
      <app-suggested></app-suggested>
  </ul>
  </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button class="close-btn" mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
