<app-navbar class="navbar"></app-navbar>
<div class="profile">
  <div class="profile-container">
    <div class="profile-header">
      <img mat-card-image class="profile-pic"
        [src]="profilePicture" onerror="this.src = '../../../assets/default-profile-pic.jpeg'" alt="Profile Picture" />
      <div class="profile-info">
        <div class="followers-info">
          <p><strong>{{ posts.length }} Posts</strong></p>
          <p class="followers"><strong (click)="openFriendsList()">{{ friends.length }} Friends</strong></p>
        </div>
        <div class="profile-details">
          <h2>{{ user.name }}</h2>
          <p>{{ user.email }}</p>
        </div>
      </div>
    </div>

    <div class="bio-section">
      <p>{{ bio }}</p>
    </div>

    <hr>

    <div class="posts-section">
      <!-- <h3>Your Posts</h3>
      <div class="posts-list">
        <div class="post">
        <img mat-card-image class="post-image" src="assets/default-profile-pic.jpeg" alt="Post Image">
      </div>
      <div class="post">
        <img mat-card-image class="post-image" src="assets/default-profile-pic.jpeg" alt="Post Image">
      </div>
      <div class="post">
        <img mat-card-image class="post-image" src="assets/default-profile-pic.jpeg" alt="Post Image">
      </div>
      <div class="post">
        <img mat-card-image class="post-image" src="assets/default-profile-pic.jpeg" alt="Post Image">
      </div>
      <div class="post">
        <img mat-card-image class="post-image" src="assets/default-profile-pic.jpeg" alt="Post Image">
      </div>
      <div class="post">
        <img mat-card-image class="post-image" src="assets/default-profile-pic.jpeg" alt="Post Image">
      </div>
      <div class="post">
        <img mat-card-image class="post-image" src="assets/default-profile-pic.jpeg" alt="Post Image">
      </div>

      </div> -->
      @if (posts.length === 0) {
        <p>No posts yet</p>
      }
      
      @else {
        @for (post of posts ; track post) {
         
        <div class="post">
        
          <img mat-card-image class="post-image" [src]="post.mediaUrl"  alt="Post Image">
        </div>
      }
      }
      
    </div>
    <div class="profile-settings-edit-btns">
      <!-- Settings Button -->
      <a routerLink="/settings">
        <button mat-icon-button class="settings-btn">
          <mat-icon>settings</mat-icon>
        </button>
      </a>

      <!-- Edit Profile Button -->
      <a routerLink="/edit-profile">
        <button mat-icon-button class="edit-btn">
          <mat-icon>edit</mat-icon>
        </button>
      </a>
    </div>
  </div>
</div>
