<div class="login-container" [ngClass]="{'loading-cursor':loading}">
    <div class="avatar-icon">
      <img src="../../../assets/techsocial.jpeg" alt="Avatar Icon" />
    </div>
  
    <div id="login-part">
      <h2 class="title">Trouble logging in?</h2>
      <p class="subtitle">Enter your email and we'll send you a link to get back into your account.</p>
  
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <!-- Email, Phone, or Username Field -->
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter your email" />
          <mat-error>
            @if (forgotPasswordForm.get('email')?.hasError('required')) {
                This field is required.
            }
            @else if (forgotPasswordForm.get('email')?.hasError('email')) {
                Please enter a valid email address (e.g., example&commat;domain.com).
            }
          </mat-error>
        </mat-form-field>
  
        <!-- Submit Button -->
        <div class="form-buttons">
          <button mat-raised-button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn login">Send Reset Link</button>
        </div>
      </form>
  
      <!-- Back to Login Link -->
 
        <a routerLink="/login" class="forgot-password">Back to Login</a>
    
    </div>
  </div>
  