<app-navbar class="navbar"></app-navbar>
<div class="settings">
  <div class="settings-container">
    <h2>Settings</h2>
    <ul class="settings-list">
      <a routerLink="/liked">
        <li>
          <i class="fas fa-thumbs-up"></i>
          Liked Content
        </li>
      </a>
      <li class="access-level">


        <div class="access-text">
          <i class="fas fa-lock"></i> Level of Access
        </div>
        <div class="access-toggle">
          <span class="access-label" [class.on]="isPublicAccess" [class.off]="!isPublicAccess">
            {{ isPublicAccess ? 'Public' : 'Private' }}
          </span>
          <mat-slide-toggle [(ngModel)]="isPublicAccess" color="primary"></mat-slide-toggle>
        </div>
      </li>
      <li class="notifications">
        <div class="notification-text">
          <i class="fas fa-bell"></i> Notifications
        </div>
        <div class="notification-toggle">
          <span class="notifications-label" [class.on]="isNotificationsOn" [class.off]="!isNotificationsOn">
            {{ isNotificationsOn ? 'On' : 'Off' }}
          </span>
          <mat-slide-toggle [(ngModel)]="isNotificationsOn" color="primary"></mat-slide-toggle>
        </div>
      </li>
      <li (click)="deactivateAccount()">
        <i class="fas fa-user-slash"></i> Deactivate Account


      </li>
      <li id="red" (click)="deleteAccount()">
        <i class="fas fa-trash-alt"></i> Delete Account
      </li>
      <li id="red" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Logout
      </li>
    </ul>
  </div>
</div>
